@import url(../reset.css);
@import url(second_fonts.css);

.first-container {
    width: 692px;
    height: 100%;
    position: relative;
    left: 18.75rem;
}

.main-title {
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27;
}

p {
    font-family: 'Inter', sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.46;
    font-weight: 400;
    padding-top: 4px;
}


.title {
    color: #6B77E5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    padding-top: 42px;
}

.second-text {
    padding-top: 12px;
}

.second-container {
    position: relative;
    bottom: 340px;
    width: 692px;
    height: 100%;
    position: relative;
    left: 110rem;
}

.second-title {
    font-family: 'Poppins';
    color: #37393F;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.27;
}

.text {
    padding-top: 13px;
}

li{
    color: #7D7D7D;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.46;
    padding-top: 35px;
    padding-left: 16px;
    list-style: inside;

}

.text-1{
    padding-top: 35px;
}

.text-2{
    padding-top: 35px;
}
