@import url('fonts.css');
@import url('reset.css');

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    padding: 23px 0 27px 0;
}

.header__container {
    padding: 0 15px;
    max-width: 1201px;
    margin: 0 auto 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    color: #000;
    font-family: Merriweather;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}

.menu ol {
    display: flex;
    column-gap: 36px;
    flex-wrap: wrap;
}

.menu ol:not(.sub-menu ol) {
    row-gap: 10px;
}

.menu__item {
    color: #000;
    font-family: Merriweather;
    font-size: 20px;
    line-height: 1.00;
    position: relative;

}


.menu__item a:focus {
    color: #000;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.00;
    text-decoration-line: underline;
}

.menu__item img {
    vertical-align: middle;
    transition: all .4s;
}

.menu__item:hover .menu__link img {
    transform: rotateX(180deg);
}

.header__button {
    display: flex;
    column-gap: 30px;
}

.header__burger-button img {
    width: 45px;
    height: 45px;
    display: none;
}

.header__login a {
    color: #FFF;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.00;
    border-radius: 5px;
    background: #0E333D;
    padding: 12px 29px 14px 26px;
    transition: all .3s;
    display: flex;

}

.header__login a:hover {
    background: #14424f;
}

.menu__item:hover .sub-menu ol {
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}


.sub-menu ol {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 10px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
}

.sub-menu__link {
    padding: 10px 15px;
    background-color: #0E333D;
    color: #FFF;
    font-family: Merriweather;
    font-size: 23px;
    line-height: 1.00;
    border: 1px solid #324c52;
    transition: background-color .1s;
}

.sub-menu__link:hover {
    background-color: #0a4555;
}

@media (max-width: 1090px) {
    .menu {
        display: none;
    }

    .header__burger-button img {
        display: flex;
    }

    .header__logo {
        margin: 0 auto;
        letter-spacing: 4px;
        flex-wrap: wrap;
    }

}

@media (max-width: 488px) {
    .header__login {
        position: absolute;
        left: 0;
    }

    .header__logo {
        margin-left: 130px;
        font-size: 30px;
        letter-spacing: 0;
        font-size: 25px;
    }
}



.main {
    padding: 0 15px;
}

.main__container {
    max-width: 1216px;
    margin: 0 auto 100px;
    display: flex;
    column-gap: 86px;
    flex-wrap: wrap;
    
}


.main__text-content{
    padding-top: 100px;
}

.main__title {
    color: #0E333D;
    margin-bottom: 32px;
    max-width: 514px;
}

.title {
    font-family: DM Serif Text;
    font-size: 78px;
    line-height: 1.27;

}

.main__paragraph {
    color: #727272;
    max-width: 577px;
    margin-bottom: 48px;
}

.paragraph {
    font-family: Inter;
    font-size: 22px;
    line-height: 1.48;
}

.main__buttons {
    display: flex;
    column-gap: 47px;
    flex-wrap: wrap;
}

.main__button a {
    padding: 10px 44px;
    border-radius: 5px;
    background: #0E333D;
    color: #FFF;
    font-family: DM Serif Text;
    font-size: 28px;
    line-height: 1.00;
}

.main__button--underline a {
    padding: 10px 44px;
    color: #0E333D;
    font-family: DM Serif Text;
    font-size: 28px;
    line-height: 1.00;
    font-weight: 700;
    text-decoration: underline;
}


.main__image-content {
    display: flex;
    column-gap: 32px;
    flex-wrap: wrap;
}
.main__image--one img{
    padding-top: 103px;
}
.main__image--two img{
    padding-top: 35px;
}

@media (max-width: 1216px){
    .main__container{
        justify-content: center;
    }
    .main__image-content{
        justify-content: center;
    }
    .main__title,
    .main__paragraph{
        text-align: center;
    }
    .main__buttons{
       justify-content: center;
       row-gap: 30px;
    }
}@media(max-width:516px){
    .main__title{
     font-size: 60px;   
    }
    
}@media(max-width:401px){
    .main__title{
     font-size: 53px;   
    }
    
}