@import url("fonts.css");
@import url("reset.css");

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 35px 0;
}
.header__container {
    display: flex;
    max-width: 1205px;
    padding: 0 15px;
    gap: 20px;
    justify-content: space-between;

    margin: 0 auto;
    align-items: center;
}
.header__logo {
    color: #000;
    font-family: Merriweather;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}
.header__menu {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}
.menu {
}
.menu__item {
    color: #000;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    position: relative;
}
.menu__item:hover .menu__link {
    text-decoration: underline;
    color: #d58417;
}
.header__actions {
    display: flex;
    column-gap: 25px;
}
.header__action::after {
    content: "1";
    width: 15px;
    height: 15px;
    background-color: #ff3333;
    padding: 4px 4px 10px 4px;
    border-radius: 50%;
    position: absolute;
    bottom: 18px;
    right: 0;
    left: 20px;
    font-size: 10px;
    color: #fff;
}
.header__action {
    position: relative;
}

.menu__arrow {
    vertical-align: middle;
}

.menu__item {
    position: relative;
}

.sub-menu {
    position: absolute;
    right: 0;
    top: 112%;
    visibility: hidden;
    z-index: 3;
}
.sub-menu__item {
    background-color: #d58417;
    border: 1px solid black;
}
.sub-menu__item:hover {
    background-color: #de993e;
}
.sub-menu__link {
    padding: 10px 20px;
}
.menu__item:hover .sub-menu {
    visibility: visible;
}
.menu__item:hover .menu__arrow {
    transform: rotate(180deg);
}
.menu__arrow {
    transition: all 0.4s;
}

.header__burger img {
    width: 40px;
    height: 40px;
}
.header__burger {
    display: none;
}

@media (max-width: 1015px) {
    .header__menu {
        display: none;
    }
    .header__burger {
        display: flex;
    }
    .header__container {
        gap: 20px;
        justify-content: space-around;
    }
    .header__logo {
        text-align: center;
    }
    .header{
        margin: 5px 0;
    }
}

.main {
    background: #502203
     url(../img/main__decor/decor_1.svg) 0 -70px no-repeat;
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
    
}
.main__container {
    max-width: 1220px;
    padding: 0 15px;
    display: flex;
    margin: 0 auto;
    margin-top: 103px;
    z-index: 50;
}
.main__content {
    padding-top: 57px;
    flex-basis: 30.625%;
    flex-shrink: 0;
    padding-right: 25px;
}
.main__title {
    margin-bottom: 9px;
}
.title {
    color: #fff;
    font-family: Cormorant Infant;
    font-size: 78px;
    font-weight: 700;
    line-height: 129%;
}
.main__button a {
    padding: 15px 25px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-family: Cormorant Infant;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    position: relative;
}
.main__button a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.06);
    transform: translate(-8px, 12px);
    transition: transform 0.4s;
}
.main__button a:hover::before {
    transform: translate(0, 0);
}
.main__img-content{
    flex-basis: 36.75%;
    flex-shrink: 0;
    max-width: 390px;

}
.main__img-content img {
    padding: 28px 20px;
    width: 100%;
    border-radius: 215px;
    border: 1px solid #fff;
}
.main__text {
    flex-basis: 31.625%;
    padding-top: 76px;
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;



    
}
.main__paragraph {
    color: #fff;
    font-family: Cormorant Infant;
    font-size: 22px;
    font-weight: 700;
    line-height: 148%;
}
.main__label {
    color: #fff;
    font-family: Cormorant Infant;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 183px;
    border-left: 1px solid #fff;
    margin-top: 176px;
    margin-left: 90px;
    padding-left: 7px;

}


@media(max-width: 1038px){
    .main{
        background: #502203;
    }
    .main__container{
        flex-direction: column;
        margin-top: 0;
        gap: 40px;
    }
    .main__woomen-decor-one,
    .main__woomen-decor-two,
    .main__linear-decor{
        display: none;
    }
    .main__content{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main__img-content{
        margin: 0 auto;
        
    }
    .main__text{
        padding: 0;
        text-align: center;
        padding-bottom: 100px;
    }.main__label{
        margin: 0;
        border: none;
    }
}@media(max-width: 366px){
    .main__title{
        font-size: 60px;
        margin: 0 auto;
    }
}

.footer{
    text-align: center;
    padding: 30px 0;
}.footer a{
    font-size: 40px;
}.footer a:hover{
    text-decoration: underline;
}




.main__linear-decor{
    position: absolute;
    right: 0;
    top: 155px;
    z-index: -2;
}.main__woomen-decor-one{
    padding: 12px 12px;
border: 1px solid #fff;
border-radius: 155px;
position: absolute;
top: 345px;
right: 0;
transform: translateX(20px);

}.main__woomen-decor-two{
    position: absolute;
    bottom: 0;
    left: 25px;
    border-radius: 195px 195px 0px 0px;
    padding: 5px 0 0 6px;
    border: 1px solid #fff;
}