@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
    font-family: 'Pobeda';
    src: 
    url("../fonts/Pobeda-Bold.woff2") format("woff2"),
    url(../fonts/Pobeda-Bold.woff) format("woff");
}
@font-face {
    font-family: 'Pobeda';
    src: 
    url('../fonts/Pobeda-Regular.woff2') format("woff2"),
    url(../fonts/Pobeda-Regular.woff) format("woff");
