@import url(reset.css);
@import url(fonts.css);

body {
    background-image: url('../img/main_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.wrapper {
    max-width: 1133px;
    height: 10000px;
    margin: 0 auto;
    background-color: black;
}

.title-container{
    position: relative;
    top: 40px;
    margin: 0 auto;
    width: 1090px;
    height: 530px;
    

}

.main-title h1{
    color: rgb(224, 216, 216);
    font-family: 'Raleway' sans-serif;
    font-size: 40px;
}
.main-img img{
    width: 350px;
    position: relative;
    left: 680px;
    top: 30px;
    transition-duration: 2s;
      
      
}



/* .main-img img:hover{
    width: 500px;

} */

.main-text{
    color: white;
    width:  620px;
    font-size: 22px;
    position: relative;
    bottom: 350px;
    font-family: 'Montserrat', sans-serif;
    text-indent: 30px;
    letter-spacing: 2px;
    
    
    
}
 
.second-title{
    position: relative;
    top: 30px;
}

#span{
    font-weight: 900;
}
.second-title span{
    text-decoration: underline;
    color: rgb(142, 62, 216)
}

.navigation-container{
    position: relative;
    bottom: 220px;
    width: 400px;
    height: 400px;
    border: 1px solid #aa9a9a;
}

.navigation-title{
    color: rgb(240, 225, 225);
    font-size: 30px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    border: 1px solid #aa9a9a;
    letter-spacing: 25px;
    color: greenyellow;
    text-shadow: 6px 4px 15px, -6px -4px 20px greenyellow;
}
.main-navigation{
    font-family: 'Pobeda' sans-serif;
    font-weight: 400;
    color: #e32626;
    position: relative;
    left: 43px;
    font-size: 25px;
    
}
.main-navigation span{
    color: rgb(221, 108, 108);
}

.nav{
    
    color: rgb(168, 168, 168);
    font-family: 'Pobeda';
    font-size: 32px;
    font-weight: 700;
    padding-left: 120px;
    position: relative;
    bottom: 25px;
    line-height: 45px;
    letter-spacing: 5px;
    
}



[class*="event"]{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    padding-top: 30px;
    text-indent: 30px;
    letter-spacing: 4px;
    line-height: 30px;
}
[class*="event"] span{
    color: #6699ff;
}
[class*="event"] h1,h2,h3{
    color: rgb(224, 216, 216);
    font-family: 'Raleway' fantasy;
    font-size: 30px;
    font-weight: 500;
    padding: 40px;
}

.main{
    position: relative;
    top: 700px;
    width:1000px;
    margin: 0 auto;
    


}

.footer{
    position: relative;
    width: 1135px;
    height: 3000px;
    top: 800px;
}

.footer-title{
    font-size: 50px;
    color: greenyellow;
    text-shadow: 6px 4px 15px, -6px -4px 20px greenyellow;
    font-style: italic;

}

.footer-img img{
    width: 1135px;
}

.back{
    color: #e32626;
    font-family: 'Pobeda';
    font-size: 60px;
    padding: 30px;
}

.figma{
    position: relative;
    bottom: 10px;
    color: #e32626;
    font-family: 'Pobeda';
    font-size: 60px;
    padding: 30px;
}




