@import url(fonts.css);
@import url(reset.css);




.header-content {
    max-width: 1220px;
    border: 2px solid #000000;

    margin: 0 auto 100px;

}



/* ---------------------PRACTIC-------------------------- */


[class*="practic"] {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}


.hover-practic a:hover {
    color: blueviolet;
}

.active-practic a:active {
    color: red;
}

.visited-practic a:visited {
    color: rgb(186, 219, 95);
}

.focus-practic a:focus {
    color: yellowgreen;
}

.target-practic a:target {
    font-size: 50px;
}

/* -------------- */

.last-child-practic li {
    color: green;
    margin-bottom: 50px;
}

.last-child-practic li:last-child {
    color: brown;
    margin-bottom: 0;
}

/* ------------------------ */

.last-of-type-practic li {
    margin-bottom: 50px;
    color: rgb(222, 34, 34);
}

.last-of-type-practic li:last-of-type {
    color: blueviolet;

}

/* --------------------------- */
.nth-child-practic li {
    margin-bottom: 40px;
    color: rgb(162, 126, 82);
}


.nth-child-practic li:nth-child(2n + 1) {
    color: rgb(154, 154, 191);
}

.nth-child-practic li:nth-child(even) {
    color: rgb(228, 96, 8);
}

/* ------------------------- */


.before-after-practic:before {
    content: " (:";
    color: green;
    margin-right: 10px;


}

.before-after-practic:after {
    content: " :)";
    color: green;
    margin-right: 10px;

}



/* ----------------- */

.not-practic ul li:not(:last-child) {
    margin-bottom: 40px;

}

/* ----------GAME */





.game {
    max-width: 1600px;
    margin: 0 auto 50px;
    padding: 100px;

}

.game h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;

}

.block-game {
    visibility: hidden;
}

.start {
    visibility: visible;
    max-width: 40px;
    height: 40px;
    background-color: red;
}

.block-1 {
    max-width: 650px;
    height: 40px;
    background-color: red;
}

.start:hover~.block-1,
.block-1:hover {
    visibility: visible;
}

.block-1:hover~.block-2,
.block-2:hover {
    visibility: visible;
}

.block-2 {
    margin-left: 610px;
    max-width: 40px;
    height: 300px;
    background-color: red;
}

.block-2:hover~.block-3,
.block-3:hover {
    visibility: visible;
}

.block-3 {
    max-width: 300px;
    height: 30px;
    background-color: red;
    margin-left: 350px;
}

.block-3:hover~.block-4,
.block-4:hover {
    visibility: visible;
}

.block-4 {
    max-width: 20px;
    height: 150px;
    background-color: red;
    margin-left: 350px;

}

.block-4:hover~.block-5,
.block-5:hover {
    visibility: visible;
}

.block-5 {
    max-width: 300px;
    height: 15px;
    background-color: red;
    margin-left: 70px;
}

.block-5:hover~.block-6,
.block-6:hover {
    visibility: visible;
}

.block-6 {
    max-width: 13px;
    height: 150px;
    background-color: red;
    margin-left: 70px;
}

.block-6:hover~.finish,
.finish:hover {
    visibility: visible;
}

.finish {
    max-width: 13px;
    height: 13px;
    background-color: greenyellow;
    margin-left: 70px;
}

.finish:hover~.gift-for-game,
.gift-for-game:hover {
    visibility: visible;
}


.gift-for-game {
    background-color: green;
    min-height: 1000px;
    max-width: 2000px;
    background-repeat: no-repeat;
    background-image: url(../img/frilancer.jpg);
    background-attachment: fixed;
    background-position: center;

}

/* -------------------- */

.container-1 {
    max-width: 692px;
    margin: 0 auto 50px;
    border: 2px solid black;
    font-size: 0;
}

.title-container-1 {
    color: #37393F;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 3px;
    max-width: 600px;
}

.paragrapg-consulting {
    color: #7D7D7D;
    font-family: Inter;
    font-size: 18px;
    line-height: 1.46;
}

.p-consulting-1 {
    margin-bottom: 42px;
}

.blue-paragraph-consulting {
    color: #6B77E5;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 12px;
}

.p-consulting-2 {
    margin-bottom: 40px;
}

.image-text-consulting-container {
    display: inline-block;
}

.image-container-1 {
    margin-right: 29px;


}

.title-list {
    color: #37393F;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 15px;
}

.paragraph-list {
    color: #40DDB6;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    max-width: 320px;
    margin-bottom: 23px;

}

.list-consulting li {
    color: #7D7D7D;
    font-family: Inter;
    font-size: 18px;
    min-height: 31px;
    line-height: 1.45;
    padding-left: 35px;
    background-image: url(../img/verify.png);
    background-repeat: no-repeat;



}

.list-consulting li:not(:last-child) {
    margin-bottom: 30px;
}



/* ----------------------------- */


.container-2 {
    max-width: 673px;
    margin: 0 auto 50px;
}

.lower-title-container-2 {
    color: #37393F;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;

}

.lower-title-container-2::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #40ddb6;

}

.main-title-container-2 {
    color: #37393F;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 20px;
}


.p-consulting-3 {
    margin-bottom: 15px;
}

.p-consulting-4 {
    margin-bottom: 20px;
}

.list-consulting-2 {
    color: #37393F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 43px;
}

.list-consulting-2 li:first-child {
    margin-bottom: 23px;
}

.list-consulting-2 li::before {
    content: "";
    display: inline-block;
    background-image: url(../img/verify.png);
    background-repeat: no-repeat;
    width: 27px;
    min-height: 27px;
    margin-right: 8px;
    vertical-align: top;
}

.achievement-container-1 {
    display: inline-block;
    margin-right: 21px;
    padding: 32px;
    background-image: url(../img/Icon\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 0 31px;
    margin-bottom: 37px;
}

.achievement-container-1 h3 {
    color: #37393F;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3px;

}


.achievement-container-1 p {
    max-width: 200px;
    display: inline-block;
}


.achievement-container-1 p,
h3 {
    margin-left: 25px;
}


.achievement-container-2 {
    display: inline-block;
    margin-right: 21px;
    padding: 32px;
    background-image: url(../img/Icon\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: 0 31px;
}

.achievement-container-2 h3 {
    color: #37393F;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3px;

}


.achievement-container-2 p {
    max-width: 200px;
    display: inline-block;
}


.achievement-container-2 p,
h3 {
    margin-left: 25px;
}

.botton {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    background: #6B77E5;
    padding: 21px 27px 22px 27px;
    margin-bottom: 50px;
}

.botton:hover {
    color: #1e283c;
}


/* ------------------ */



.container-3 {
    max-width: 1220px;
    margin: 0 auto 50px;
    font-size: 0;
}

.lower-title-container-3 {
    color: #37393F;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 16px;
}

.lower-title-container-3::before {
    content: "";
    background-color: #40DDB6;
    display: inline-block;
    width: 12px;
    min-height: 12px;
    margin-right: 6px;
}

.main-title-container-3 {
    color: #37393F;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 40px;
}


[class*="block_"]:not(.blocks) {
    display: inline-block;
    padding: 30px;
    border: 1px solid black;
    margin-right: 32px;
}

.block_ h3 {
    color: #37393F;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 27px;
    margin-right: 122px;
    max-width: 163px;

}



.block_ a {
    color: #6B77E5;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    padding-left: 25px;
}

.block_:nth-child(1) {
    background-image: url(../img/Icon\ \(3\).png);
    background-repeat: no-repeat;
    background-position: 283px 30px;
}

.block_:nth-child(2) {
    background-image: url(../img/Icon\ \(4\).png);
    background-repeat: no-repeat;
    background-position: 283px 30px;
}

.block_:nth-child(3) {
    background-image: url(../img/Icon\ \(5\).png);
    background-repeat: no-repeat;
    background-position: 283px 30px;
    margin-bottom: 27px;
}


.block_:nth-child(4) {
    background-image: url(../img/Icon\ \(6\).png);
    background-repeat: no-repeat;
    background-position: 283px 30px;
    margin-bottom: 27px;
}

.block_:nth-child(5) {
    background-image: url(../img/Icon\ \(7\).png);
    background-repeat: no-repeat;
    background-position: 283px 30px;
    margin-bottom: 27px;
}

.block_:nth-child(5) h3 {
    max-width: 188px;
}

.botton-b {
    display: inline-block;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #6B77E5;
    padding: 72px 106px;
    vertical-align: top;
}

.botton-b a:hover {
    color: #631a1a;
}

/* ------------- */



.container-4 {
    max-width: 1325px;
    margin: 0 auto 100px;
    font-size: 0;
    border: 1px solid black;
}

.jewellery {
    display: inline-block;
    color: #000;
    font-family: "Cormorant Infant";
    font-size: 60px;
    font-weight: 700;
    line-height: 1.15;
    max-width: 460px;
    padding-top: 155px;
    margin-right: 25px;
    vertical-align: top;
}


.jewellery::after {
    content: "";
    background: #78473B;
    width: 304px;
    height: 3px;
    display: inline-block;
}



.jewellery-container-img {
    display: inline-block;

}



.jewellery-image-1 {
    display: inline-block;
    margin-top: 35px;


}


.image-woomen-1 {
    border: 1px solid black;
}

.jewellery-woomen-1 {
    margin: 9px -10px -9px 10px;
}


.jewellery-image-1-text-1 {
    color: #000;
    font-family: Cormorant Infant;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-top: 25px;
    margin-bottom: 4px;
}


.jewellery-image-1-text-2 {
    color: #000;
    font-family: Cormorant Infant;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}





.jewellery-image-2 {
    display: inline-block;
    vertical-align: top;
    margin-left: 45px;
}

.jewellery-image-0-1 {
    color: #000;
    font-family: Cormorant Infant;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.13;
    margin-bottom: 31px;
    max-width: 280px;
}

.image-woomen-2 {
    border: 1px solid black;
}

.jewellery-woomen-2 {
    margin: 9px -10px -9px 10px;

}

.jewellery-image-text-1-1 {
    color: #000;
    font-family: Cormorant Infant;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.40;
    margin-top: 25px;
    margin-bottom: 4px;
}

.jewellery-image-text-2-1 {
    color: #000;
    font-family: Cormorant Infant;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.40;
}