*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto 100px;
}
.main__title {
  color: #3c4242;
  font-family: Core Sans C;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.5px; /* 119.643% */
  letter-spacing: 0.56px;
  margin-bottom: 20px;
}
.main__adress {
  color: #3c4242;
  font-family: Core Sans C;
  font-size: 22px;
  font-weight: 600;
  line-height: 33.5px; /* 152.273% */
  letter-spacing: 0.44px;
  margin-bottom: 50px;
}

.form form {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 426px));
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 31px;
}
@media (max-width: 480px) {
  .form form {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}
.form__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 19px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__input-box label {
  color: #3c4242;
  font-family: Causten;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
}
.form__input-box input {
  padding: 17px 22px;
  height: 100%;
  border: 1px solid black;
}
.form__input-box input::-webkit-input-placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box input::-moz-placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box input:-ms-input-placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box input::-ms-input-placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box input::placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box select {
  color: #807d7e;
  font-family: Causten;
  padding: 17px 22px;
  height: 100%;
  font-size: 17px;
}
@media (min-width: 480px) {
  .form__input-box.text-area-width {
    grid-column: 1/3;
  }
}
.form__input-box.text-area-width textarea {
  padding: 17px 22px;
}
.form .form__check-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
@media (min-width: 480px) {
  .form .form__check-boxes {
    grid-column: span 2;
  }
}
.form .form__check-boxes--margin {
  margin-bottom: 30px;
}
.form .form__check-boxes .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}
.form .form__check-boxes .check-box label {
  color: #3c4242;
  font-family: Causten;
  font-size: 20.087px;
}
.form .form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.form .form__buttons .form__button {
  text-align: center;
  font-family: Causten;
  font-size: 20.087px;
  font-weight: 600;
  padding: 12px 40px;
  color: #807d7e;
}
.form .form__buttons .form__button--bg {
  border-radius: 8px;
  background: #8a33fd;
  color: #fff;
}

.request__container {
  max-width: 1250px;
  margin: 0 auto 100px;
  padding: 0 15px;
}
.request__sub-title {
  color: #37393f;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.request__sub-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #40ddb6;
  margin-right: 8px;
}
.request__title {
  color: #37393f;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 121%;
  margin-bottom: 40px;
}
@media (max-width: 405px) {
  .request__title {
    font-size: 33px;
  }
}
.request .request__form {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 595px));
  grid-auto-rows: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 28px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .request .request__form {
    grid-template-columns: repeat(1, 1fr);
  }
}
.request__input-box input {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 22px 15px 22px 41px;
  color: #37393f;
  font-family: Inter;
  font-size: 18px;
}
.request .request__textarea {
  grid-row: span 2;
}
@media (min-width: 700px) {
  .request .request__textarea {
    grid-column: span 2;
  }
}
.request .request__textarea textarea {
  width: 100%;
  height: 100%;
  padding: 22px 15px 22px 41px;
  color: #37393f;
  font-family: Inter;
  font-size: 18px;
  border: 1px solid black;
}
.request .request__button {
  text-align: center;
}
.request .request__button button {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 22px 61px;
  background: #6b77e5;
}

.main__pay-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pay {
  max-width: 830px;
  padding: 0 15px;
  margin: 0 auto 50px;
}
.pay__radio-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
}
.pay__radio-input input {
  width: 18px;
  position: relative;
  height: 18px;
  -ms-flex-item-align: center;
      align-self: center;
}
.pay__radio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.pay__radio-text .pay__radio-name {
  color: #3c4242;
  font-family: Causten;
  font-size: 20px;
  font-weight: 700;
}
.pay__radio-text .pay__radio-label {
  color: #3c4242;
  font-family: Causten;
}
.pay__system {
  padding-left: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.pay__system img {
  padding: 15px 19px;
}
.pay__card-form {
  padding-left: 37px;
}
.pay__card-form form {
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 337px));
  gap: 30px;
}
.pay__card-form .pay__input-box {
  position: relative;
  border-radius: 12px;
}
.pay__card-form .pay__input-box input {
  border: 1px solid black;
  border-radius: 12px;
  padding: 16px 0 16px 20px;
  width: 100%;
}
.pay__card-form .pay__input-box label {
  position: absolute;
  right: 0;
  padding: 21px 16px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #BEBCBD;
}